{%include 'head.html'%}
{{ckeditor.load()}}
{{ ckeditor.config(name='body') }}
<body>
    {%include 'header.html'%}


    <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Edit Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container mt-5">
        <div class="row">
            <form id="blogForm" method="POST">
                <div>
                {{form.hidden_tag()}}
                {{form.title.label(class="form-label fw-bold")}}
                <br>
                {{form.title(class="form-control")}}
                <br>
                {{form.subtitle.label(class="form-label fw-bold")}}
                <br>
                {{form.subtitle(class="form-control")}}
                <br>
                {{form.image.label(class="form-label fw-bold")}}
                <br>
                {{form.image(class="form-control")}}
                <br>
                {{form.body.label(class="form-label fw-bold")}}
                {{form.body(class="form-control")}}
                <br>
                {{form.submit(class="btn btn-primary mb-5")}}
                </div>
            </form>
        </div>
    </div>
    <!-- Footer-->
    {%include 'footer.html'%}

</body>
</body>